<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pierwsza Strona!</title>
</head>
<body>
    {{ zmienna }} </br>
    {{ wiek }}
    {% include 'form.html' %}





    <!-- Header -->
    <!-- <h1>Nagłówek</h1>
    <h2>Nagłówek</h2>
    <h3>Nagłówek</h3>
    <h4>Nagłówek</h4>
    <p>Test</p> -->
    <!-- div to jest nic. Pudełko bez formy -->
    <!-- <div>
        PUDEŁKO!
        <div>
            POD PUDEŁKO
        </div>

    </div> -->
    <!-- src to source -> źródło -->
    
</body>
</html>